<div class="search">
    <div class="row">
        <div class="col-xs-2 col-sm-1 right-div">
            <span class="glyphicon glyphicon-search"></span>
        </div>
        <div class="col-xs-10 col-sm-11">
            <input type="search" placeholder="statocat" class="search-input" autocapitalize="off" autocorrect="off">
        </div>
    </div>
</div>
