<div class="container">
    <div class="content">
        <div class="row">

            <div class="col-xs-12 col-sm-6">

                <h3>General</h3><hr>

                <ul>
                    <li>
                        <p><strong>What is statocat?</strong></p>
                        <p><strong>statocat</strong> is a statistics generator for GitHub profiles, which is useful for employers looking for potential employees based on the various languages of code they write.</p>
                    </li>
                    <li>
                        <p><strong>Who is statocat developed by?</strong></p>
                        <p><strong>statocat</strong> is developed by <a href="https://twitter.com/dvrylc" target="_blank">@dvrylc</a> and <a href="https://twitter.com/engerium" target="_blank">@engerium</a>. It was actually developed as an entry to <a href="http://www.upsingapore.com/events/smart-nation-api-colab/" target="_blank">UP Singapore's API coLAB Hack Day</a> where it clinched the award for Best Use of Other APIs.</p>
                    </li>
                    <li>
                        <p><strong>I found a bug, where can I get in touch?</strong></p>
                        <p><strong>statocat</strong> is fully <a href="https://github.com/dvrylc/statocat" target="_blank">open-source on GitHub</a>. If you're familiar with the technology that runs <strong>statocat</strong>, feel free to send us a pull request! Or else, you can always drop us a note on Twitter &#9786;</p>
                    </li>
                </ul>
                
            </div>

            <div class="col-xs-12 col-sm-6">

                <h3>Technical</h3><hr>

                <ul>
                    <li>
                        <p><strong>What stack does statocat run on?</strong></p>
                        <p><strong>statocat</strong> runs on Ruby on Rails, with a PostgreSQL database and is deployed on Heroku. More information can be found on our GitHub repository.</p>
                    </li>
                    <li>
                        <p><strong>Does statocat have an API?</strong></p>
                        <p><strong>statocat</strong> provides a developer API for like-minded individuals to use the data we've collected. The API documentation and endpoints can be found on our GitHub repository.</p>
                    </li>
                </ul>
                
            </div>

        </div>
    </div>
</div>
