<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-xs-12">

                <p class="text-center error">User not found</p>

                <div class="search">
                    <div class="row">
                        <div class="col-xs-12">
                            <%= render "layouts/search" %>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
