html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #212121;
    color: #212121;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h4 {
    display: inline-block;
}

input {
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 50%;
    min-width: 200px;
    text-align: center;
    &:focus {
        outline: 0;
    }
}

.content, .nav {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255,255,255,1);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.nav {
    margin-bottom: 0;
    padding: 10px;
    a {
        color: inherit;
        &:hover, &:focus {
            text-decoration: none;
            border-bottom: 1px solid #ccc;
        }
    }
}

.search {
    text-align: center;
    font-size: 1em;
    @media only screen and (min-width : 768px) {
        font-size: 1.6em;
    }
    @media only screen and (min-width : 992px) {
        font-size: 2em;
    }
}

.error {
    color: red;
}

.loading {
    width: 100%;
    min-height: 50vh;
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-align: center;
}

.loading-message {
    display: none;
}

.statistics {
    display: none;
    position: relative;
    z-index: 0;
}

.chart {
    height: 300px;
}

.user-avatar {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
