<input type="search" placeholder="GitHub username/organization" class="search-input" autocapitalize="off" autocorrect="off">
<a href="javascript:void(0)"><span class="glyphicon glyphicon-search"></span></a>